﻿  html, body, #map {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
  }

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

    .container input {
        margin: 0 10px 0 10px;
        background-color: black;
        border: none;
        color: white;
        font-size: 16px;
    }