﻿@{
    Layout = null;
}

@Styles.Render("~/Content/bootstrap.min.css")

<style>
    .form-group input {
        height: 33px;
    }
</style>

<div class="form-by-phone-number form-group">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Введите номер телефона формата РБ:", new { @class = "form-control" })
        </div>

        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Номер:")
            @Html.TextBox("byPhoneNumber", new { type = "text", id = "byPhoneNumber", @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-ru-phone-number form-group">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Введите номер телефона формата РФ:", new { @class = "form-control" })
        </div>

        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Номер:")
            @Html.TextBox("ruPhoneNumber", new { type = "text", id = "ruPhoneNumber", @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-date form-group">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Введите дату:", new { @class = "form-control" })
        </div>

        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Дата:")
            @Html.TextBox("date", new { type = "text", id = "date", @class = "form-control" })
        </div>
    </div>
</div>

<div class="form-full-date form-group">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Введите полную дату дату:", new { @class = "form-control" })
        </div>

        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Полная дата:")
            @Html.TextBox("fullDate", new { type = "text", id = "fullDate", @class = "form-control" })
        </div>
    </div>
</div>


<div class="form-email form-group">
    <div class="row">
        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Введите email:", new { @class = "form-control" })
        </div>

        <div class="col-md-6 col-lg-6 col-md-12 col-xs-12">
            @Html.Label("Email:")
            <input name="emailMask" type="text" id="emailMask" placeholder="Ваш E-mail">
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/jquery-3.3.1.min.js")
@Scripts.Render("~/Scripts/bootstrap.min.js")
@Scripts.Render("~/Scripts/Masked/jquery.maskedinput.min.js")
@Scripts.Render("~/Scripts/Masked/jquery.inputmask.js")
@Scripts.Render("~/Scripts/Masked/inputmask.js")

<script>
    $("input#byPhoneNumber").mask("+375(99) 999 9999");
    $("input#ruPhoneNumber").mask("+7(999)999-99-99");
    $("input#date").mask("99.99.9999", { placeholder: "дд.мм.гггг" });
    $("input#fullDate").mask("99.99.9999 99.99.99", { placeholder: "дд.мм.гггг чч.мм.сс" });
    $("input#emailMask").inputmask("email");
</script>