﻿@using Archive.PL.Resources
@model Archive.PL.Models.RoleCreateViewModel

@{
    ViewData["Title"] = Resource.RoleCreate;
}

<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Resource.RoleCreate</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form asp-controller="Role" asp-action="Create" method="post" id="demo-form2" data-parsley-validate class="form-horizontal">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <input asp-for="Name" class="form-control col-md-7 col-xs-12" />
                    </div>
                </div>
           
                <div class="form-group">

                    @for( Int32 i = 0; i < this.Model.Permissions.Count; i++ ) {
                        <input type="checkbox" asp-for="@Model.Permissions[i].Selected" />
                        <label asp-for="@Model.Permissions[i].Selected">@Model.Permissions[i].Name</label>
                        <input type="hidden" asp-for="@Model.Permissions[i].Id" />
                        <input type="hidden" asp-for="@Model.Permissions[i].Name" />
                        <br />
                    } 
                </div>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                        <a asp-controller="Role" asp-action="Index"><button type="button" class="btn btn-primary">@Resource.Previous</button></a>
                        <button type="submit" class="btn btn-success">@Resource.Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>