﻿@using Archive.PL.Resources
@model Archive.PL.Models.RoleEditViewModel
@{
    ViewData["Title"] = Resource.RoleEdit;
}

<div class="col-md-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
            <h2>@Resource.RoleEdit:  "@Model.Name"</h2>

            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <br />
            <form asp-action="Edit" method="post" class="form-horizontal form-label-left">
                <div class="form-group">
                    <label asp-for="Name" class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input asp-for="Name" type="text" class="form-control">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>             

                <div class="form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="row">
                        @{
                            Int32 countFieldsFirstColumns = this.Model.Permissions.Count / 2;
                            var rangeBetweenFirstColumnAndSecondColumn = Enumerable.Range(countFieldsFirstColumns, (countFieldsFirstColumns + (countFieldsFirstColumns % 2)));
                        }

                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            @for (Int32 i = 0; i < countFieldsFirstColumns; i++)
                            {
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12"></div>
                                <input type="checkbox" asp-for="@Model.Permissions[i].Selected"/>
                                <label asp-for="@Model.Permissions[i].Selected">@Model.Permissions[i].Name</label>
                                <input type="hidden" asp-for="@Model.Permissions[i].Id"/>
                                <input type="hidden" asp-for="@Model.Permissions[i].Name"/>
                                <br/>
                            }
                        </div>
                        <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12">
                            @foreach (Int32 i in rangeBetweenFirstColumnAndSecondColumn)
                            {
                                <div class="col-md-3 col-sm-3 col-lg-3 col-xs-12"></div>
                                <input type="checkbox" asp-for="@Model.Permissions[i].Selected"/>
                                <label asp-for="@Model.Permissions[i].Selected">@Model.Permissions[i].Name</label>
                                <input type="hidden" asp-for="@Model.Permissions[i].Id"/>
                                <input type="hidden" asp-for="@Model.Permissions[i].Name"/>
                                <br/>
                            }
                        </div>
                    </div>
                </div>
                </div>

                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                        <a asp-controller="Role" asp-action="Index"><button type="button" class="btn btn-primary">@Resource.Previous</button></a>
                        <input type="submit" class="btn btn-success" value="@Resource.Save" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>