﻿@using Archive.PL.Resources
@model RoleIndexViewModel
@{
    ViewData["Title"] = Resource.RoleManager;
}

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="page-title">
        <div class="title_left col-sm-12">
            <h3>@Resource.RoleManager</h3>
        </div>
   
        <div class="title_right">
            <a href="@Url.Action("Create", "Role")">
                <button type="button" class="btn btn-dark">
                    Создать роль
                </button>
            </a>
        </div>

        <div class="row search-container col-md-4 col-lg-4 col-sm-4 col-xs-12">
            <form method="get">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Поиск" name="searchString" value="@Model.SearchParameter" />
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="submit">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th># 
                                <a asp-action="Index" asp-route-order="@Model.RoleSortViewModel.Id">
                                    <span class="glyphicon glyphicon-sort"></span>
                                </a>
                            </th>
                            <th>@Resource.RoleName
                                <a asp-action="Index" asp-route-order="@Model.RoleSortViewModel.Name">
                                    <span class="glyphicon glyphicon-sort"></span>
                                </a>
                            </th>
                            <th class="hidden-xs">@Resource.RoleCreateAt
                                <a asp-action="Index" asp-route-order="@Model.RoleSortViewModel.Name">
                                    <span class="glyphicon glyphicon-sort"></span>
                                </a>
                            </th>
                            <th><center>@Resource.Edit</center></th>
                            <th><center>@Resource.Delete</center></th>
                        </tr>
                        </thead>

                        <tbody>
                            <tr id="searchRow">
                                <td>
                                    <form>
                                        <div class="btn-group has-feedback">
                                            <input id="_0" type="hidden" name="FilterParam" value="Id" />
                                            <input id="0" name="FilterSearch" type="search" class="form-control search-input-without-button" value="@(Model.FilterParameter == "Id" ? Model.FilterSearch : null)">
                                            
                                            <a asp-action="Index"
                                                class="glyphicon glyphicon-remove-circle form-control-feedback search-clear-button"
                                                onclick="clearInputSearch()">
                                            </a>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form>
                                        <div class="btn-group has-feedback">
                                            <input id="_1" type="hidden" name="FilterParam" value="Name" />
                                            <input id="1" name="FilterSearch" type="search" class="form-control search-input-without-button" value="@(Model.FilterParameter == "Name" ? Model.FilterSearch : null )">
                                            
                                            <a asp-action="Index"
                                                class="glyphicon glyphicon-remove-circle form-control-feedback search-clear-button"
                                                onclick="clearInputSearch()">
                                            </a>
                                        </div>
                                    </form>
                                </td>
                                <td class="hidden-xs">
                                    <form>
                                        <div class="btn-group has-feedback">
                                            <input id="_2" type="hidden" name="FilterParam" value="CreatedAt"/>
                                            <input id="2" name="FilterSearch" type="search" class="form-control search-input-without-button" value="@(Model.FilterParameter == "CreatedAt" ? Model.FilterSearch : null )">
                                            
                                            <a asp-action="Index"
                                                class="glyphicon glyphicon-remove-circle form-control-feedback search-clear-button"
                                                onclick="clearInputSearch()">
                                            </a>
                                        </div>
                                    </form>
                                </td>
                                <td>
                                    <form id="resultForm">
                                        <input type="hidden" name="FilterParam"/>
                                        <input type="hidden" name="FilterSearch"/>

                                        <button type="submit" class="btn btn-primary search-button" onclick="submitSearchInput()">Поиск</button>
                                    </form>
                                </td>
                            </tr>
                        @foreach (var role in Model.RoleViewModels)
                        {

                            <tr>
                                <td><a asp-action="Edit" asp-route-id="@role.Id">@role.Id</a></td>
                                <td>@role.Name</td>
                                <td class="hidden-xs">@role.CreatedAt</td>
                                <td><a asp-action="Edit" asp-route-id="@role.Id"><center><span class="glyphicon glyphicon-edit"></span></center></a></td>
                                <td><a asp-action="Delete" asp-route-id="@role.Id"><center><span class="glyphicon glyphicon-trash"></span></center></a></td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div><!--end of .table-responsive-->
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-5">
            <span>Showing @(Model.RoleViewModels.Count() >= 1 ? "1" : "0") to @Model.RoleViewModels.Count() of @Model.PageViewModel.TotalEntities entries</span>
        </div>

        <div class="col-sm-7">
            <nav style="justify-content: flex-end;">
                <ul class="pagination" style="margin: 0">
                    @if (Model.PageViewModel.HasPreviousPage)
                    {
                        <li class="page-item">
                            <a asp-action="Index" asp-controller="Role" asp-route-page="@(Model.PageViewModel.PageNumber - 1)" asp-route-order="@Model.RoleSortViewModel.Current" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">@Resource.Previous</span>
                            </a>
                        </li>
                    }

                    @for (var i = 1; i <= Model.PageViewModel.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.PageViewModel.PageNumber ? "active" : "")">
                            <a asp-action="Index" asp-controller="Role" asp-route-page="@i" asp-route-order="@Model.RoleSortViewModel.Current" class="page-link">@i</a>
                        </li>
                    }

                    @if (Model.PageViewModel.HasNextPage)
                    {
                        <li class="page-item">
                            <a asp-action="Index" asp-controller="Role" asp-route-page="@(Model.PageViewModel.PageNumber + 1)" asp-route-order="@Model.RoleSortViewModel.Current" class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">@Resource.Next</span>
                            </a>
                        </li>
                    }
                </ul>
            </nav>
        </div>
    </div>  
</div><!--./x_panel-->
